/* Login-Button */
.login_button {
    width: 25%;
    padding: 0.6em 1.2em;

    color: white;
    background-color: #00000086;
    border: 2px groove rgb(255, 255, 255);
    border-radius: 8px;

    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.login_button:hover {
    color: #646cff;
    border: 2px groove #646cff;
}

/* Add-Task-Button */
.add_task_button {
    width: 25%;
    padding: 0.6em 1.2em;

    color: white;
    background-color: #00000086;
    border: 2px groove rgb(255, 255, 255);
    border-radius: 8px;

    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.add_task_button:hover {
    color: #646cff;
    border: 2px groove #646cff;
}